.odd {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#special {
    color: blue;
    font-size: 36px;
}

.odd.cooler {
    font-size: 24px;
}

#special2 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}